FINAL_BOARD/__Previews
DEV_BOARD/__Previews
FINAL_BOARD/History
FINAL_BOARD/FINAL_BOARD.PrjPcbStructure
DEV_BOARD/DEV_BOARD.PrjPcbStructure
LEGACY/ver1/__Previews
LEGACY/ver1/History
LEGACY/ver1/Project Logs for Diplom_project
LEGACY/ver1/Project Outputs for Diplom_project
LEGACY/ver1/Diplom_project.PrjPcbStructure
LEGACY/Ver2/__Previews
LEGACY/Ver2/Project Outputs for Ver2/NC Drill
LEGACY/Ver2/Project Outputs for Ver2/PCB.DRR
LEGACY/Ver3/Project Logs for Ver3
LEGACY/Ver3/History
LEGACY/Ver3/__Previews
LEGACY/Ver2/Diplom_project.PrjPcbStructure
LEGACY/Ver2/Project Outputs for Ver2/Gerber
LEGACY/Ver2/Project Outputs for Ver2
LEGACY/Ver2/Project Outputs for Free Documents
LEGACY/Ver2/Project Logs for Ver2
LEGACY/Ver2/Project Outputs for Diplom_project
LEGACY/Ver2/Project Logs for Diplom_project
LEGACY/Ver2/History
LEGACY/Ver2/Job1.OutJob
LEGACY/Ver2/Job2.OutJob
LEGACY/Ver2/CAMtastic1.Cam
LEGACY/Ver2/CAMtastic2.Cam
LEGACY/Ver2/CAMtastic3.Cam
LEGACY/Ver2/Ver2.PrjPcbStructure
LEGACY/Ver3/Diplom_project.PrjPcbStructure
LEGACY/Ver3/Ver2.PrjPcbStructure
LEGACY/Ver3/Ver3.PrjPcbStructure
